/* Interview */
* {
	box-sizing: border-box;
}
html {
	background: url(interview_background.jpg) no-repeat center fixed; 
   background-size: cover;
}
body {
	line-height: 1.25;
	margin: 0;
	padding: 0;
	color:black;
	font-family: 'Playfair Display', serif;
}
header {
	padding: 0.25em;
	margin: 0 auto;
}
main {
	padding: 2em 0.25em;
	perspective: 100em;
  perspective-origin: top;
  max-width: 70em;
  margin: 0 auto;
}
section {
	max-width: 40em;
	margin: 0 auto;
	padding: 1em 0;
	transition: all 0.5s ease;
	filter: opacity(50%);
	margin-left: 0;
}
section:nth-child(even) {
	margin-left: auto;
	margin-right: 0;
}
section:hover {
	filter: saturate(2);
	mix-blend-mode: unset;
	transform: scale(1.25);
	z-index: 1;
}


h1 {
	font-size: 4em;
	margin: 2;
	padding: 0;
	text-transform: uppercase;
	line-height: 0.85;
	font-weight: 400;
	text-align: center;
	font-family: 'Bangers', cursive;
	letter-spacing: 0.1em;
}
h2 {
	margin: 2;
	color: darkgreen;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Bangers', cursive;
}
h3 {
	margin: 0;
	padding: 0;
	font-size: 1.25em;
	color: darkgreen;
	font-weight: 400;
	text-transform: uppercase;
}
p {
	margin: 0 0 1em 0;
}

.triangle-up {
	width: 0;
	height: 3;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-bottom: 100px solid darkgreen;
	margin-left: 12.5em;
	margin-bottom: 13em;
}


.button {
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	color: white;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 150px solid green;
	width: 0;
	height: 0;
	background: none;
	padding: 0;
	text-align: center;
	position: relative;
	transform: rotate(0deg);
	transform-origin: center;
	transition: all 0.5s ease;
	margin-left: -2em;
}
 .button:hover {
 	border-bottom-color: darkgreen;
 	transform: rotate(360deg);
 }
 
 .button span {
  	display: block;
  	position: absolute;
  	bottom: -135px;
	width: 150px;
	left: -75px;
  }


  .BACKTOTHETOP {
    color: green;
}


	


